<launch>
  
    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>
  
    <!--  ************** Stage Simulator *****************  -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find stage_sim)/world/world.world">
      <remap from="/robot_0/base_scan" to="/robot_0/scan"/>
      <remap from="/robot_1/base_scan" to="/robot_1/scan"/>
      <remap from="/robot_2/base_scan" to="/robot_2/scan"/>
    </node>
  
    <!--  ******************* Maps ***********************  -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find stage_sim)/maps/corridor.yaml" output="screen">
      <param name="frame_id" value="map"/>
    </node>
  
    <group ns="robot_0">
      <!-- work around for footprint reload -->
        <rosparam command="delete" ns="move_base" />
  
      <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 /map /robot_0/odom 100" />
    
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find stage_sim)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/teb_local_planner_params.yaml" command="load" />
        <!-- rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/costmap_converter_params.yaml" command="load" /-->
        <param name="TebLocalPlannerROS/include_costmap_obstacles" value="False" />
        <param name="TebLocalPlannerROS/include_dynamic_obstacles" value="True" />
  
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <!--param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />
        <param name="planner_patience" value="5.0" /-->
  
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5.0" />
        <param name="controller_patience" value="15.0" />
        <remap from="map" to="/map"/>
      </node>
    </group>
  
    <group ns="robot_1">
        <rosparam command="delete" ns="move_base" />
  
      <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 /map /robot_1/odom 100" />
    
      <node pkg="move_base" type="move_base" respawn="false" name="move_base0" output="screen">
        <rosparam file="$(find stage_sim)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/local_costmap_params0.yaml" command="load" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/global_costmap_params0.yaml" command="load" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/teb_local_planner_params0.yaml" command="load" />
        <!-- Here we load our costmap conversion settings -->
        <!-- If you active the following line, disable 'ground_truth_obstacles' at the bottom of this script! -->
        <!-- rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/costmap_converter_params.yaml" command="load" /-->
        <param name="TebLocalPlannerROS/include_costmap_obstacles" value="False" />
        <param name="TebLocalPlannerROS/include_dynamic_obstacles" value="True" />
  
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <!--param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />
        <param name="planner_patience" value="5.0" /-->
  
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5.0" />
        <param name="controller_patience" value="15.0" />
        <remap from="map" to="/map"/>
      </node>
    </group>
  
    <group ns="robot_2">
      <!-- work around for footprint reload -->
        <rosparam command="delete" ns="move_base" />
  
      <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 /map /robot_2/odom 100" />
    
      <node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen">
        <rosparam file="$(find stage_sim)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/local_costmap_params1.yaml" command="load" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/global_costmap_params1.yaml" command="load" />
        <rosparam file="$(find stage_sim)/cfg/diff_drive/dyn_obst/teb_local_planner_params1.yaml" command="load" />
        <param name="TebLocalPlannerROS/include_costmap_obstacles" value="False" />
        <param name="TebLocalPlannerROS/include_dynamic_obstacles" value="True" />
  
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <!--param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />
        <param name="planner_patience" value="5.0" /-->
  
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5.0" />
        <param name="controller_patience" value="15.0" />
        <remap from="map" to="/map"/>
      </node>
    </group>
    <!-- ****************** Obstacles ******************** -->
    <group ns="robot_3">
      <param name="tf_prefix" value="robot_1"/>
      <node name="Mover" pkg="stage_sim" type="move_obstacle.py" output="screen"/>
      <param name="vel_y" value="0.3" />
    </group>
  
    <group ns="robot_4">
      <param name="tf_prefix" value="robot_2"/>
      <node name="Mover" pkg="stage_sim" type="move_obstacle.py" output="screen"/>
      <param name="vel_y" value="0.3" />
    </group>
  
    <group ns="robot_5">
      <param name="tf_prefix" value="robot_3"/>
      <node name="Mover" pkg="stage_sim" type="move_obstacle.py" output="screen"/>
      <param name="vel_y" value="0.3" />
    </group>
 
    <node name="ground_truth_obstacles" pkg="stage_sim" type="publish_ground_truth_obstacles.py" output="screen" />
  
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stage_sim)/cfg/rviz_navigation_cc.rviz">
      <remap from="/move_base_simple/goal" to="/robot_0/move_base_simple/goal" />
    </node>
  
  </launch>
  